-# in app/views/representatives/show.html.haml

%h3 Details about Representative

%ul#details
- @representatives.each_with_index do |rep, _index|
  %li
    Name:
    = rep.name

  %li
    OCD ID:
    = rep.ocdid

  %li
    Office:
    = rep.title

  %li
    Address:
    = rep.street + " " + rep.state + " " + rep.city + " " + rep.zip

  %li
    Party:
    = rep.party

  %li
    Phones:
    = rep.phones[0]

  %li
    Email:
    = rep.emails[0]

  %li
    Photo:
    = %img(src= rep.photo width="128" height="128")

  = link_to representative_news_items_path(rep.id), class: 'btn btn-primary' do
    %i.fas.fa-newspaper
    News Articles
