-# in app/views/representatives/show.html.haml

%h1 Details about Representative
%link(rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")

%ul#details
- @representatives.each do |rep|
  %li
    Name:
    = rep.name

  %li
    OCD ID:
    = rep.ocdid

  %li
    Office:
    = rep.title

  %li
    Address:
    = rep.street + " " + rep.state + " " + rep.city + " " + rep.zip

  %li
    Party:
    = rep.party

  %li
    Phones:
    = rep.phones

  %li
    Email:
    = rep.emails

  %img{:src => rep.photo, :width => "100%", :height => "100%", :class => "img-responsive", :alt => "Generic placeholder thumbnail", :align => "center"}

  = link_to representative_news_items_path(rep.id), class: 'btn btn-default' do
    %i.fas.fa-newspaper
    News Articles
