-# in app/views/representatives/show.html.haml

%h3 Details about Representative
%link(rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")

%ul{:class => "list-inline text-center"}
- @representatives.each do |rep|
  %li{:class => "list-inline-item"}
    Name:
    = rep.name

  %li{:class => "list-inline-item"}
    OCD ID:
    = rep.ocdid

  %li{:class => "list-inline-item"}
    Office:
    = rep.title

  %li{:class => "list-inline-item"}
    Address:
    = rep.street + " " + rep.state + " " + rep.city + " " + rep.zip

  %li{:class => "list-inline-item"}
    Party:
    = rep.party

  %li{:class => "list-inline-item"}
    Phones:
    = rep.phones

  %li{:class => "list-inline-item"}
    Email:
    = rep.emails

  %img{:src => rep.photo, :width => "200", :height => "200", :class => "img-responsive", :alt => "Generic placeholder thumbnail", :align => "middle"}

  = link_to representative_news_items_path(rep.id), class: 'btn btn-primary' do
    %i.fas.fa-newspaper
    News Articles
